.container {
    &__content {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__avatar {
        margin: 12px;
    }

    &__input{
        margin: 8px;
    }
}